<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ static_url('bootstrap/css/bootstrap.min.css') }} " rel="stylesheet">
    <link href="{{ static_url('bootflat/css/flat-ui.css') }} " rel="stylesheet">
    <link href="{{ static_url('css/style.css') }} " rel="stylesheet">
    <link href="{{ static_url('css/header.css') }} " rel="stylesheet">
    <link href="{{ static_url('css/login.css') }} " rel="stylesheet">

</head>
<body>


{% block header %}{% end %}


{% block body %}{% end %}

<footer>
    {% block footer %}{% end %}
</footer>

<!-- Load JS here for greater good =============================-->
<script src="{{ static_url('js/base/jquery-2.1.4.min.js') }}" type="text/javascript"></script>
<!--<script src="{{ static_url('bootstrap/js/bootstrap.js') }}" type="text/javascript"></script>-->
<script src="{{ static_url('bootflat/js/flat-ui.js') }}" type="text/javascript"></script>


</body>
</html>