<header>


    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default" role="navigation">

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="/">消息推送示例</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="">{{ username }}</a>

                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {% if unread == 0 %}
                                    我的消息
                                    {% else %}
                                    我的消息({{ unread }})
                                    {% end %}
                                    <strong class="caret"></strong></a>

                                <ul class="dropdown-menu opts__item--message">
                                    {% for message in messages %}

                                    <li>
                                        <div class="message-line">
                                            {{ message['username'] }} 评论了你的博客<a
                                                href="/blog/{{ message['eventSource']}}?message={{ message['id'] }}">{{ message['data'] }}</a>
                                        </div>
                                    </li>
                                    {% end %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

</header>